body {
    font-family: 'Times New Roman', Times, serif;
    margin: 20px;
    background-color: darkgray;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-family: 'Times New Roman', Times, serif;
    
}

.table-custom {
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    overflow: hidden; 
    
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

table-custom thead th {
background-color: #007bff;
color: white;
}

.table-custom tbody tr:nth-child(odd) {
background-color: #f2f2f2;
}

.table-custom tbody td {
vertical-align: middle;
}

.table-custom a {
color: #007bff;
}

.table-custom a:hover {
text-decoration: underline;
}

h1, h2 {
    color: #f5efef;
}